* {
         padding: 0;
         margin: 0;
         user-select: none;
}
.contsiner {
         max-width: 1080px;
         margin: 0 auto;
         
}
/*****************************************
**************шапка***********************
******************************************/

header {
         background-image: url(../image/font.jpg);
         background-repeat: no-repeat;
         background-size: cover;
         object-fit: cover;
         /* width: 100vw; */
         padding-bottom: 20em;
}
.header_intelligrnce {
         display: flex;
         justify-content: space-between;
         align-items: stretch;
}
.header_intelligrnce__log {
        
         font-size: 20px;
         font-family: "Domine";
         color: rgb(255, 255, 255);
         font-weight: bold;
         background: #fa5c65;
         border-bottom-left-radius: .5em;
         border-bottom-right-radius: .5em;
         padding: 2em .6em .1em .6em;
         height: 28px;
                  
                  
                
                
}
.header_intelligrnce__nav {

                  
         font-size: 14px;
         font-family: "Montserrat";
         color: rgb(38, 55, 66);
         text-transform: uppercase;
         line-height: 6.071;
         text-align: right;
         font-weight: 400;
                
                
}
.header_intelligrnce__nav > ul {
         display: flex;
         justify-content: space-between;
         list-style-type: none;
         flex-wrap: wrap;
         align-items: flex-start;
}

.header_intelligrnce__nav > ul > li + li {
         margin-left: 1.4em;
}
.header_ambition{
         margin-top: 10em;
}
.header_ambition > h3 {
       
         font-size: 36px;
         font-family: "Montserrat";
         color: rgb(49, 74, 91);
         font-weight: bold;
         text-transform: uppercase;
         line-height: 1.2em;
                
                
}
.header_ambition > p {
       
         font-size: 20px;
         font-family: "OpenSans";
         color: rgb(49, 74, 91);
         text-align: left;
         margin-top: .7em;
         margin-bottom: 1.2em;
                
}
.header_ambition > button {
         
         border-radius: 7px;
         background-color: rgb(250, 92, 101);
         outline: none;
         border: none;
         width: 171px;
         height: 64px;
         font-size: 1.2em;
         font-family: "OpenSans";
         color: rgb(255, 255, 255);
         font-weight: 400;
         line-height: 3.225;
         
                         
                
                
                
}
/*************************************************
**************************main********************
*************************************************/
.main{
         display: grid;
       
         grid-template-columns: repeat( 3 , 1fr );
         grid-template-rows: repeat(1 , 1fr 2fr);
}
.main_block{
         display: flex;
         flex-direction: column;
         justify-content: space-between;
}
.main_block > h3 {
         
         margin-top: 1.2em;
         font-size: 26px;
         font-family: "Montserrat";
         color: rgb(70, 80, 101);
         font-weight: bold;
         text-transform: uppercase;
         line-height: 1.2;
         text-align: left;

                
                
}
.main_block > button {
         font-size: 14px;
         font-family: "Montserrat";
         color: rgb(250, 92, 101);
         text-transform: uppercase;
         line-height: 1.429;
         text-align: left;
         background: transparent;
         border: none;
         outline: none;
       }
.main_block > button::after{
         content: url(../image/Arrow.png);
         margin-left: 6px;
}       
.main_block > p {
         margin-top: 1.2em;
         margin-bottom: 1.2em;
         font-size: 15px;
         font-family: "OpenSans";
         color: rgb(154, 160, 171);
         line-height: 1.467;
         text-align: left;
         font-weight: 400;
         width: 251px;
         height: 60px;
         
         
                
}
#scren{
         grid-column: 1/3;
         grid-row: 2/3;  
         background-image: url(../image/MacBook.png);
         background-repeat: no-repeat;
         background-size: contain;
         margin-top: 1.3em;
         width: 800px;
         height: 500px;
         
}
#portfolio {
         grid-column: 2/4;
         grid-row: 2/3;
         margin-left: 10em;
         justify-content: center;
         ;
}
span.point {
         color: #f0454c;
}
#portfolio > h3 {
         margin-top: .6em;    
         font-size: 30px;
         font-family: "Montserrat";
         color: rgb(49, 74, 91);
         font-weight: bold;
         text-transform: uppercase;
                  
                
}


#portfolio > span {

        
         font-size: 16px;
         font-family: "OpenSans";
         color: rgb(49, 74, 91);
         line-height: 1.25;
         text-align: left;
         
                  
                
                

}
/*************************************************
*******************второй див*********************
*************************************************/
.main_div > h4 {
         
         font-size: 24px;
         font-family: "Montserrat";
         color: rgb(49, 74, 91);
         font-weight: bold;
         text-transform: uppercase;
         line-height: 1.683;
         text-align: left;
         
                
                
}
.main_div > p {
        
         font-size: 16px;
         font-family: "OpenSans";
         color: rgb(154, 160, 171);
         line-height: 1.25;
         text-align: left;
         font-weight: 400;
                
}
.flex {
         display: flex;
         justify-content: space-between;
         /* flex-wrap: wrap; */
}
.flex_block {
         display: flex;
         width: 280px;
         justify-content: space-between;
}
.flex_block  > img {
        
         
                
                
                  background-image: url("Photo.png");
                
                  width: 128px;
                  height: 128px;
                  
                
                
                  border-radius: 50%;
                  background-color: rgb(255, 255, 255);
                  box-shadow: inset 0px 5px 9px 0px rgba(1, 1, 1, 0.06);
                 
                
                
}
.flex_block > div > h5 {
         
                  font-size: 16.48px;
                  font-family: "Montserrat";
                  color: rgb(49, 74, 91);
                  font-weight: bold;
                  text-transform: uppercase;
                  line-height: 2.448;
                  text-align: left;
                 
                
                
}
.flex_block > div > span {
         
                  font-size: 14px;
                  font-family: "OpenSans";
                  color: rgb(240, 69, 76);
                  line-height: 1.429;
                  text-align: left;
                  font-weight: 400;
                
                
}
.flex_block > div > p {
         
                  font-size: 14px;
                  font-family: "OpenSans";
                  color: rgb(154, 160, 171);
                  line-height: 1.429;
                  text-align: left;
                  
                  width: 134px;
                  height: 32px;
                
                
                
}
#button_footer {
         margin-left: auto;
         margin-top: 4em;
}
/*************************************************
******************подвал**************************
*************************************************/
footer {
         display: flex;
         justify-content: space-between;  
         padding-top: 6em;
         padding-bottom: 2.5em;
}
.footer_flex {
         display: flex;
         justify-content: space-between;
         list-style-type: none;
         width: 140px;


}
.footer_flex a {
         text-decoration: none;

}
.footer_text {
        
         font-size: 13px;
         font-family: "OpenSans";
         color: rgb(185, 192, 198);

         font-weight: 400;
                
                
}
/*************************************************
******************шрифты**************************
*************************************************/
@font-face{
         font-family: "Domine";
         src: url(../font/Domine-Bold.ttf);
         font-weight:  bold;
}
@font-face{
         font-family: "Montserrat";
         src: url(../font/Montserrat-Regular.ttf);
         src: url(../font/Montserrat-Bold.ttf);
         font-weight:  bold;
         font-weight:  400;
}
@font-face{
         font-family: "OpenSans";
         src: url(../font/OpenSans-Regular.ttf);
         src: url(../font/OpenSans-Bold.ttf);
         font-weight:  bold;
         font-weight:  400;
}